{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
